<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train Specific Hour</title>
</head>
<body>
<button style="height: 40px;" type="button" onclick="window.location.href='{{ url_for('home_page')}}';">&laquo; Previous page</button>
    <br>
    <br>
    {% if time == []%}
        <h1>No subways in this hour</h1>
    {% else %}
        {% for i in time%}
            Station name: {{ i["name"] }}
        <br>
            Station ID:  {{ i["id"] }}
        <br>
            Station arrival time: {{ i["arrival"] }}
        <br>
        <br>
        {% endfor %}
    {% endif %}
<br>
<button style="height: 40px;" type="button" onclick="window.location.href='{{ url_for('home_page')}}';">&laquo; Previous page</button>
</body>
</html>